
a.link {
    font-size: 16px;
    font-weight: normal;
    color: rgb(0, 0, 255); 
    text-decoration: none;
    transition: all 0.3s ease;
}


a.link:hover {
    font-size: 20px; 
    font-weight: bold;
    color: rgb(255, 0, 0); 
}


a.link:active {
    font-size: 14px; 
    font-weight: lighter; 
    color: #008000; 
}
