/* id=para1 სტილი */
#para1 {
    color: red; /* წითელი ფერი */
}

/* id=para2 სტილი */
#para2 {
    color: green; /* მწვანე ფერი */
}

/* id=para3 სტილი */
#para3 {
    color: blue; /* ლურჯი ფერი */
}

/* id=para4 სტილი */
#para4 {
    color: orange; /* ნარინჯისფერი ფერი */
}

/* id=para5 სტილი */
#para5 {
    color: purple; /* მურა ფერი */
}
